<div class="container">
    <div class="voltar">
        <button class="botao-voltar" (click)="voltar()">
            Voltar
        </button>
    </div>
    
    @if (editMode) {
        <h1 class="titulo">Editar Produto</h1>
    }

    @if (!editMode) {
        <h1 class="titulo">Cadastrar Produto</h1>
    }
    

    <div class="form">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput maxlength="45" [(ngModel)]="produto.nome" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="number" [(ngModel)]="produto.preco" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput maxlength="150" [(ngModel)]="produto.descricao" required></textarea>
        </mat-form-field>

        @if (!editMode) {
            <button class="registro" mat-icon-button (click)="adicionarProduto()">
                Cadastrar
            </button>
        }

        @if (editMode) {
            <button class="registro" mat-icon-button (click)="editarProduto()">
                Editar
            </button>
        }
    </div>
</div>
    