    
<div class="container">
    <div class="pre">
        <pre>
            ██████  ██████   ██████  ██████  ██    ██  ██████ ████████ ██ ███████ ██    ██ 
            ██   ██ ██   ██ ██    ██ ██   ██ ██    ██ ██         ██    ██ ██       ██  ██  
            ██████  ██████  ██    ██ ██   ██ ██    ██ ██         ██    ██ █████     ████   
            ██      ██   ██ ██    ██ ██   ██ ██    ██ ██         ██    ██ ██         ██    
            ██      ██   ██  ██████  ██████   ██████   ██████    ██    ██ ██         ██    
                                                                                                                                                                    
        </pre>
    </div>
        

    <div class="">
        <button class="botao" (click)="proximo()">Veja a lista de Produtos</button>
    </div>
    
</div>    