<div>
    <h3>Detalhar Produto</h3>

    <button mat-icon-button (click)="voltar()">
        Voltar
    </button>

    <mat-list>
        <mat-list-item>Nome: {{produto.nome}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Preço: R${{produto.preco}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Data de criação: {{formatarDataEHora(produto.dataDeCriacao)}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Descrição: {{produto.descricao}}</mat-list-item>
      </mat-list>
</div>    